<div class="user-details">
    <div class="user-details__header">
        <h2 class="user-details__title" ng-show="!$ctrl.isEditMode">Create new user</h2>
        <h2 class="user-details__title" ng-show="$ctrl.isEditMode">{{ $ctrl.editedUser.firstName }} {{ $ctrl.editedUser.lastName }}</h2>
        <button class="user-details__close" ng-click="$ctrl.goToList()">×</button>
    </div>

    <form class="user-details__form" name="userForm">
        <custom-input
            type="text"
            name="username"
            label="Username"
            change="$ctrl.listenInput('username')"
            model="$ctrl.editedUser.username"
            required="true"
            error="$ctrl.errors.username">
        </custom-input>

        <custom-input
            type="text"
            name="first_name"
            label="First name"
            change="$ctrl.listenInput('first_name')"
            model="$ctrl.editedUser.firstName"
            required="true"
            error="$ctrl.errors.first_name">
        </custom-input>

        <custom-input
            type="text"
            name="last_name"
            change="$ctrl.listenInput('last_name')"
            label="Last name"
            model="$ctrl.editedUser.lastName"
            required="true"
            error="$ctrl.errors.last_name">
        </custom-input>

        <custom-input
            type="text"
            name="email"
            change="$ctrl.listenInput('email')"
            label="Email"
            model="$ctrl.editedUser.email"
            required="true"
            error="$ctrl.errors.email">
        </custom-input>

        <custom-dropdown
            name="user_type"
            label="User Type"
            selected="$ctrl.editedUser.type"
            change="$ctrl.listenInput('type')"
            required="true"
            options="$ctrl.typeOptions"
            error="$ctrl.errors.type">
        </custom-dropdown>

        <custom-input
            type="password"
            name="password"
            change="$ctrl.listenInput('password')"
            label="Password"
            model="$ctrl.editedUser.password"
            required="true"
            error="$ctrl.errors.password"
            placeholder="Minimum 8 characters, at least one letter and one number">
        </custom-input>

        <custom-input
            type="password"
            name="repeatPassword"
            change="$ctrl.listenInput('repeatPassword')"
            label="Repeat password"
            model="$ctrl.editedUser.repeatPassword"
            required="true"
            error="$ctrl.errors.repeatPassword">
        </custom-input>

        <div class="user-details__actions" ng-class="{'user-details__actions--edit': $ctrl.isEditMode}">
            <custom-button 
                ng-show="!$ctrl.isEditMode"
                size="large"
                type="primary" 
                on-button-click="$ctrl.saveChanges()">
                Create
            </custom-button>
            <custom-button 
                ng-show="$ctrl.isEditMode"
                size="large"
                type="secondary" 
                on-button-click="$ctrl.deleteUser()">
                Delete
            </custom-button>
            <custom-button 
                ng-show="$ctrl.isEditMode"
                size="large"
                type="primary" 
                on-button-click="$ctrl.saveChanges()">
                Save
            </custom-button>
        </div>
    </form>
</div>
