<div class="user-list-page">
    <div class="users__table">
        
            <custom-button 
                type="primary"
                on-button-click="$ctrl.createUser()">
                Create User
            </custom-button>
       

        <!-- Loading state -->
        <div class="loading-state" ng-if="$ctrl.isLoading">
            Loading users...
        </div>

        <!-- User table -->
        <table-component 
            ng-if="!$ctrl.isLoading  && $ctrl.users.length"
            data="$ctrl.users" 
            item-clicked="$ctrl.selectItem(row)"
            columns="$ctrl.columns">
        </table-component>

        <!-- Empty state -->
        <div class="empty-state" ng-if="!$ctrl.isLoading && !$ctrl.users.length">
            No users found. Click "Create User" to add one.
        </div>
    </div>

    <div 
    class="users__details" 
    ng-show="$ctrl.transcludePresent()" 
    ng-transclude="slot">

    </div>
    
</div> 