user-list-component {
    height: 100%;
    display: block;
}

table-component {
    display: block;
    width: 100%;
    max-height: calc(100% - 48px);
    flex: 1;
}

.user-list__table {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
}

.user-list__page {
    padding: 100px 20px;
    max-width: 1600px;
    display: flex;
    gap: 15px;
    height: 100%;
    margin: 0 auto;
}

.user-list__title {
    color: var(--color-text-primary);
    text-align: center;
}

.user-list__details {
    flex: 2;
    padding: 0 20px 20px;
    border-radius: 5px;
    background: var(--color-bg-primary);
    box-shadow: 3px 2px 18px 0px var(--color-gray-300);
    margin-top: 47px;
    overflow: auto;
}

.user-list__table-wrapper {
    background-color: var(--color-bg-secondary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--color-shadow-light);
}

.user-list__table-title {
    color: var(--color-text-primary);
    margin-bottom: 15px;
}

.user-list__table-element {
    width: 100%;
    border-collapse: collapse;
}

.user-list__table-header,
.user-list__table-cell {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--color-border-light);
}

.user-list__table-header {
    background-color: var(--color-gray-300);
    font-weight: bold;
    color: var(--color-text-primary);
}

.user-list__table-row:hover {
    background-color: var(--color-gray-200);
} 

.user-list__empty {
    width: 100%;
    text-align: center;
    height: calc(100% - 48px);
    background: var(--color-bg-primary);
    padding: 20px;
    border-radius: 5px;
}