<div class="user-list__page">
    <div class="user-list__table">
        <custom-button
            type="primary"
            on-button-click="$ctrl.createUser()">
            Create User
        </custom-button>

        <div class="user-list__loading" ng-if="$ctrl.isLoading">
            Loading users...
        </div>

        <table-component
            ng-if="!$ctrl.isLoading  && $ctrl.users.length"
            data="$ctrl.users"
            item-clicked="$ctrl.selectItem(row)"
            columns="$ctrl.columns">
        </table-component>

        <div class="user-list__empty" ng-if="!$ctrl.isLoading && !$ctrl.users.length">
            No users found. Click "Create User" to add one.
        </div>
    </div>

    <div
        class="user-list__details"
        ng-show="$ctrl.transcludePresent()"
        ng-transclude="slot">
    </div>
</div>
