
.table-component {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 3px 2px 18px 0px #e6e5e5;
    border-radius: 5px;
    overflow-x: auto;
}

.table-component table {
    width: 100%;
    border-collapse: collapse;
}

.table-component thead {
    position: sticky;
    top: 0;
}

.table-component th,
.table-component td {
    padding: 12px 15px;
    line-height: 150%;
    text-align: left;
    border-bottom: 1px solid #fff;
}

.table-component th {
    font-weight: 500;
    color: #666;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    user-select: none;
    transition: background-color 0.2s;
}

.table-component tr {
    background-color: #F4F5F8;
    font-size: 0.8em;
    cursor: pointer;
}

.table-component tr:hover {
    background-color: #EFF0F4;
}

.table-component td {
    color: #333;
}