.table {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-primary);
    box-shadow: 3px 2px 18px 0px var(--color-gray-300);
    border-radius: 5px;
    overflow-x: auto;
}

.table__container {
    width: 100%;
    border-collapse: collapse;
}

.table__header {
    position: sticky;
    top: 0;
}

.table__header-cell,
.table__cell {
    padding: 12px 15px;
    line-height: 150%;
    text-align: left;
    border-bottom: 1px solid var(--color-bg-primary);
}

.table__header-cell {
    font-weight: 500;
    color: var(--color-text-secondary);
    background-color: var(--color-bg-primary);
    text-transform: uppercase;
    font-size: 0.9em;
    user-select: none;
    transition: background-color 0.2s;
}

.table__row {
    background-color: var(--color-blue-200);
    font-size: 0.8em;
    cursor: pointer;
}

.table__row:hover {
    background-color: var(--color-blue-100);
}

.table__cell {
    color: var(--color-text-primary);
}