<div class="input-wrapper">
    <label ng-if="$ctrl.label" for="{{$ctrl.inputId}}" class="input-label">
        {{$ctrl.label}}
        <span ng-if="$ctrl.isRequired" class="required-marker">*</span>
    </label>
    
    <div class="input-field-wrapper">
        <input
            app-error 
            error-message="{{$ctrl.error}}"  
            id="{{$ctrl.inputId}}"
            name="{{$ctrl.name}}"
            type="{{$ctrl.getInputType()}}"
            ng-change="$ctrl.change()"
            ng-model="$ctrl.model"
            ng-required="$ctrl.isRequired"
            placeholder="{{$ctrl.placeholder}}"
            class="input-field"
        >
    </div>

</div> 