<div class="input">
    <label class="input__label" for="{{$ctrl.name}}">
        {{$ctrl.label}}
        <span class="input__required" ng-if="$ctrl.required">*</span>
    </label>
    <div class="input__wrapper">
        <input
            ng-class="{'input__field--prefix': $ctrl.prefix}"
            class="input__field"
            id="{{$ctrl.name}}"
            name="{{$ctrl.name}}"
            type="{{$ctrl.type || 'text'}}"
            ng-model="$ctrl.model"
            ng-change="$ctrl.change()"
            ng-required="$ctrl.required"
            placeholder="{{$ctrl.placeholder}}"
        />
        <span class="input__prefix" ng-if="$ctrl.prefix">{{$ctrl.prefix}}</span>
    </div>
</div>
